.btn_area{
    margin-left: 15px;
    margin-top: 10px;
}

.btn_area #manual_updateTitle, .btn_area #last_update_timeTitle{
    margin-left: 20px;
}

.hint_text{
    margin-left: 15px;
    color: red;
}

#locale{
    margin-left: -225px;
}